@import "grapesjs/dist/css/grapes.min.css";
@import "grapesjs-rulers/dist/grapesjs-rulers.min.css";
@import "grapesjs-rte-extensions/dist/grapesjs-rte-extensions.min.css";
@import "grapesjs-template-manager/dist/grapesjs-template-manager.min.css";
@import "grapick/dist/grapick.min.css";
@import "bootstrap/dist/css/bootstrap.min.css";

:root {
  --gis-main-background: #636262;
  --gis-second-background: #fafafa;
  --gjs-main-color: #fffafa;
  --gjs-primary-color: #ffffff;
  --gjs-secondary-color: #a8a8a8;
  --gis-disabled-color: rgb(187, 187, 187);
  --gjs-tertiary-color: #804f7b;
  --gjs-quaternary-color: #d278c9;
  --gjs-font-color: #000000;
  --gjs-font-color-active: #f8f8f8;
  --gjs-main-dark-color: rgba(0, 0, 0, 0.2);
  --gjs-secondary-dark-color: rgba(0, 0, 0, 0.1);
  --gjs-main-light-color: rgba(255, 255, 255, 0.1);
  --gjs-secondary-light-color: rgba(255, 255, 255, 0.7);
  --gjs-soft-light-color: rgba(255, 255, 255, 0.015);
  --gjs-color-blue: #3b97e3;
  --gjs-color-red: #dd3636;
  --gjs-color-yellow: #ffca6f;
  --gjs-color-green: #62c462;
  --gjs-left-width: 15%;
  --gjs-color-highlight: #71b7f1;
  --gjs-color-warn: #ffca6f;
  --gjs-handle-margin: -5px;
  --gjs-light-border: rgba(255, 255, 255, 0.05);
  --gjs-arrow-color: rgba(255, 255, 255, 0.7);
  --gjs-dark-text-shadow: rgba(0, 0, 0, 0.2);
  --gjs-color-input-padding: 22px;
  --gjs-input-padding: 5px;
  --gjs-padding-elem-classmanager: 5px 6px;
  --gjs-upload-padding: 150px 10px;
  --gjs-animation-duration: 0.2s;
  --gjs-main-font: Helvetica, sans-serif;
  --gjs-font-size: 0.75rem;
  --gjs-placeholder-background-color: var(--gjs-color-green);
  --gjs-canvas-top: 40px;
  --gjs-flex-item-gap: 5px;
}

// #nebo-__container {
//   width: 100vw !important;
//   height: 100vh !important;
//   position: fixed;
//   top: 0;
//   left: 0;
// }

.nebo-layout-container {
  background: var(--gis-second-background);
  width: 100%;
  height: 100%;
}
.gjs-cv-canvas {
  overflow: auto !important;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
  height: 10p x;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 7px rgb(218, 218, 218);
  border-radius: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(95, 94, 94);
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #464242;
}

#nebo-container {
  height: 100%;
}
#nebo-editor,
#nebo-block,
#nebo-style,
#nebo-data,
#nebo-layer,
#nebo-trait {
  // height: calc(100vh - 68px);
  // margin-bottom: 0;
  overflow: auto;
  height: inherit;
}

.nebo-pn-left-container,
.nebo-pn-right-container {
  .nav-item {
    background: var(--gis-second-background);

    .nav-link {
      border-radius: 0;
      color: var(--gis-disabled-color);
      border: 1px solid var(--bs-border-color);
      border-top: 0;
      &:not(:last-child) {
        border-right: 0;
      }
      border-left: 0;
      &:hover {
        border-radius: 0;
      }
      &:focus {
        border-radius: 0;
      }
    }
    .active {
      color: var(--gjs-color-highlight) !important;
      background: var(--gjs-primary-color);
      font-weight: 600;
    }
  }
}

.gjs-blocks-c {
  background: var(--gis-second-background);
}

.gjs-block-category {
  .gjs-title {
    background: var(--gjs-primary-color);
  }
}

.gjs-sm-sector {
  .gjs-sm-sector-title {
    background: var(--gjs-primary-color);
  }
}

.gjs-sm-properties {
  background: var(--gis-second-background);
}

.gjs-field {
  background: var(--gjs-primary-color);
  color: var(--gjs-font-color);
  border: 1px solid var(--gjs-secondary-color);
}
.nebo-border-btn {
  border-color: var(--bs-border-color) !important;
}

#nebo-editor {
  .gjs-editor {
    .gjs-cv-canvas-bg {
      background-color: #f2f4fb !important;
    }
    .gjs-cv-canvas {
      width: 100%;
      top: 0;
      height: 100%;
    }
    .gjs-pn-panels {
      display: none;
    }
  }
}

.nebo-layout-row {
  display: flex;
  height: inherit;
  .nebo-layout-col:first-child,
  .nebo-layout-col:last-child {
    width: 20%;
    display: flex;
    flex-direction: column;
    min-height: 0;
    .tab-content {
      flex: 1 auto;
      margin-bottom: auto;
      height: 100%;
      .tab-pane {
        height: 100%;
      }
    }
  }
}

.gjs-frame-wrapper {
  margin-top: 20px;
}
.gjs-off-prv {
  display: none;
}

.nebo-layout-btn-color-secondary {
  color: var(--gjs-secondary-color);
}
.nebo-layout-btn-color-secondary-disabled {
  color: var(--gis-disabled-color) !important;
}

.gjs-rte-toolbar {
  min-width: 400px;
}
.rul_wrapper {
  .rul_ruler {
    background: #272222;
  }
}
