/* @import "grapesjs/dist/css/grapes.min.css";
@import "grapesjs-rulers/dist/grapesjs-rulers.min.css";
@import "grapesjs-rte-extensions/dist/grapesjs-rte-extensions.min.css";
@import "grapesjs-template-manager/dist/grapesjs-template-manager.min.css";
@import"grapick/dist/grapick.min.css"; */
/* @import "@repo/web-builder/dist/style.css"; */

/* #gjs {
    width: 100vw !important;
    height: 100vh !important;
    position: fixed;
    top: 0;
    left: 0;
}
.gjs-cv-canvas{
    overflow: scroll !important;
}

.panel__left-group-actions{
    padding: 0;
    width: 100%;
    display: flex;
    position: initial;
    justify-content: center;
    justify-content: space-between;
  }
  .left-group-btn-actions {
    position: initial;
  }
  .btn-toggle-borders{
    border: 1px solid #ffeeee;
    border-radius: 3px;
  }
  .btn-toggle-borders:hover{
    border-color:#BE73B9;
    background: #0000004c;
  }
  .btn-toggle-borders:hover >a{
    color:#BE73B6;
    text-decoration: underline;
  }
  a {
    color:white;
    width: max-content;
  }
  a:hover{
    color:#BE73B6;
  }
  a:not(:hover){ 
        text-decoration: none;
  }
  .link-btn{
    display: flex;
    gap: 4px;
    align-items: center;
  } */